
body{ 
        background:white;
        font-family: "Courier New", monospace;
}

#retropic{
	display:block;
	margin-left:auto;
	margin-right:auto;
	max-width:40%;
}

h1{
        letter-spacing:4px;
}
.back{
	margin-left:10%;
	display:inline-block;
        color:black;
        background:white;
        text-decoration:none;
        transition-duration:0.5s;
        letter-spacing:1px;
        font-size: 2.5vw;
	padding: 5px 5px 5px 5px;
}

.back:hover{
        background-color:black;
        color:white;
        transition-duration:0.3s;
}


.menu_items {	
        display:inline-block;
        color:black;
        background:white;
        text-decoration:none;
        transition-duration:0.5s;
	font-size: 3vw; 
	border-radius:3px;
	padding: 7px 7px 7px 7px;
}
.menu_items:hover{
        background-color:#50C878;
        color:black;
        transition-duration:0.3s;
	border-radius:3px;
}

.spanpercent{
	background-color:white;
	font-weight:bold;
}

.linksmenuflexcontainer{
	display:flex;
	flex-direction:row;
	justify-content:center;
	gap: 25px;
}

.anchor{
	display:inline-block;
        color:black;
        background:white;
        text-decoration:none;
        transition-duration:0.5s;
        font-size: 2.5vw;
        border-radius:3px;
        padding: 8px 8px 8px 8px;
}

/* row of columns*/
.metaflexcontainer{
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:flex-start;
	gap:20px;
}

.trendingup{
	display:flex;	
	flex-direction:column;
	justify-content:center;
	align-items:center;	
	gap:50px;
}	

.trendingdown{
	display:flex;	
	flex-direction:column;
	justify-content:center;
	align-items:center;	
	gap:50px;
}
.updowntoptext{
	text-align:center;
}

.itemup{
	display:flex;
	background-color:#50C878;
	flex-direction:column;
	align-items:center;
	border-radius:3px;
	padding: 8px 8px 8px 8px;
	opacity:0.9;
	transition-duration:1s;
}
.itemup:hover{
	opacity:1;
	transition-duration:0.2s;
}

.itemdown{
	display:flex;
	flex-direction:column;
	align-items:center;
	background-color:#E97451;
	border-radius:3px;	
	padding: 8px 8px 8px 8px;
	opacity:0.5;
	transition-duration:1s;
}
.itemdown:hover{
	opacity:1;
	transition-duration:0.2s;

}

.headline{
	margin-left:33%;
	margin-right:33%;
}
#headline2{
	margin-left:33%;
}
#rfoot{
	position:fixed;
	bottom:0px;
}

.yearsearchdiv{
	text-align:center;
	display:block;
	margin-left:auto;
	margin-right:auto;
	max-width: 30%;
}
.searchtext{
		
	opacity:0.6;
}

.textbox{
	display:block;
	margin-left:auto;
	margin-right:auto;
	max-width: 50%;
	box-shadow:10px 10px 10px #50C878;
}
.space{
	margin-top:50px;
}

@media(min-width:1000px){
	#retropic{
		max-width:30%;
	}		

	a{
		font-size:1.75vw;
	}

}

@media (min-width:1448px){
	#retropic{
		max-width:25%;
	}
	a{
		font-size:1.5vw;
	}

	.menu_items{
		font-size:1.5vw;
	}

	.back{
		font-size:1vw;
	}
}
@media(max-width:650px){
	#retropic{
		max-width:60%;
	}
	.menu_items{
		font-size:5vw;
	}
	.yearsearchdiv{ 
		max-width:40%;
	}		
	
}
