body{ 
	background:black;
	color: #dde3ed;
	font-family: "Courier New", monospace;
}

h1{
	letter-spacing:4px;
}
.dark-mode{
	background: #fcfaf0 ;
	color: black;
	a{
	color:black;
	transition-duration:0.1s;
	}
	a:hover
	{
	background-color:black;
	color: #fcfaf0 ;

	}

	#uniqueButton{
        transition-duration: 0.1s;
        color:black;
        background-color: #fcfaf0 ;
	letter-spacing:2px;	

	}
	#uniqueButton:hover{
        background-color:black;
        color: #fcfaf0 ;
	}
	
	#firsthr, #secondhr, #lasthr{
	border:1px solid #111214;

}
	

}

a {	
        display:inline-block;	
	color: #dde3ed;
	text-decoration:none;
	transition-duration:0.1s;
	letter-spacing:1px;	
}
a:hover{
	background-color:#dde3ed;
	color:black;
}
a:active{
}

.intro{
	margin: auto;
	width: 50%;
	text-align:center;
}
.welcome{
	text-align:center;
}

#firsthr,#secondhr, #lasthr{
border:1px solid #65686d;
margin:auto;
width:50%;
}

.placeholder{
position:relative;

}
#uniqueButton{
	position:absolute;
	transition-duration: 0.1s;	
	color:#dde3ed;
	background-color: black;
	margin:auto;
	border:none;
	width 60px;
	left:77%;
	top:40%;
}
#uniqueButton:hover{
	background-color:#dde3ed;
	color:black;
}


.links{
	top:10px;
	position:relative;
	margin: auto;
	width: 50%;
	text-align:center;
}



.log{
	height:400px;
	margin: auto;
	width: 50%;
	overflow:scroll;
	scrollbar-width:none;
}

.about{
	margin: auto;
	width: 50%
}
.contact{
	margin: auto;
	width: 50%
}
.projects{
	margin: auto;
	width: 50%
}
#stone_text{
	float:left;
}
#stone{
	max-width:40%;
	float:left;
	transition-duration:0.5s;	

}
#stone:hover{

	max-width:100%;
	float:left;
	transition-duration:1;

}
.microscope{
	margin:auto;
	width:50%;
	font-size:18px;
}
#mic{
	font-size:22px;
}
