html{ 
	background:black;
	color: #dde3ed;
	font-family: "Courier New", monospace;
}
a { color: #e7c5fc;}

.intro{
	margin: auto;
	width:40%;	
	text-align:center;
}
.welcome{
	text-align:center;
}
.button{
	text-align:right;
	margin:auto;
	width:40%;
}
.links{
	margin: auto;
	width: 40%;
	text-align:center;
}
.log{
	margin: auto;
	width: 40%
}

.about{
	margin: auto;
	width: 40%
}
.contact{
	margin: auto;
	width: 40%
}
.projects{
	margin: auto;
	width: 40%
}
